{% extends 'base.html'%}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1 align="center">Programming languages and frameworks</h1>
    <div class="row mb-2">
        {% if task %}
            {% for el in task %}
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3>{{ el.title }}</h3>
                        <p>{{ el.task | slice:":100" }}...</p>
                        <small>
                            Дата создания: {{ el.created_on }}
                        </small>
                        <a href="{% url 'task_detail' el.pk %}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src='static/img/overone.png' width="200" height="250">
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Записи отсутствуют!</p>
        {% endif %}
    </div>
{% endblock %}
